<div class="container">
  <% if current_user %>
    <h1><%= current_user.location %></h1>
    <h1><%= current_user.nickname %></h1>
    <h1><%= current_user.description %></h1>
  <% else %>
    <h1>Hello</h1>
  <% end %>

</div>